@model Assignment.Models.ViewModel
@{
    ViewBag.Title = "Admin";
}
<div>
        <strong>@Html.Encode(User.Identity.Name)</strong>
        
        <br/>@Html.ActionLink("List All User", "ListUsers", "Admin")

</div>





