@model Assignment.Models.ViewModel
@{
    ViewBag.Title = "Home";
}

<section>
    <article>
        <h3></h3>
        <div>
            @try {
                foreach (var item in Model.Posts) {
                    <div class="post-title">@Html.DisplayFor(model => item.Title)</div>
                    <div class="post-date"></div>
                    <div class="post-descritpion">
                        @Html.DisplayFor(model => item.Description)
                    </div>
                }
                    
                    
            }
            catch (NullReferenceException ex) { 
                    
                <p>No Article</p>
            }
        </div>
    </article>
</section>




